table {
    width: 100%;
    border-spacing: 0;
}

th, td {
    padding: 2.5px;
    border-bottom: 1px solid rgb(138, 136, 124);
}

tr > :first-child {
    padding-left: 15px;
}

tr > :last-child {
    padding-right: 15px;
    /* TODO: Last cell should use all remaining width */
}

td {
    white-space: nowrap;
}

td:last-child {
    width: 100%;
}

table tr:last-child > th,
table tr:last-child > td {
    border-bottom: none;
}

thead, tfoot {
    background-color: rgb(243, 242, 241);
}
